@inherits LayoutComponentBase

<div class="w3-top shadow">
    <div class="w3-row w3-large w3-light-grey">
        <a href="/profile" class="w3-bar-item w3-button w3-wide">
            <i class="fa fa-smile-o myFontRed" aria-hidden="true" ></i>
        </a>
        <div class="w3-right">
            
            <a href="/profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>
            <a href="/work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
            <a href="https://podo1017.tistory.com/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> BLOG</a>

            @*<a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>*@

            @*<div class="w3-col s3">
                <a href="/profile" class="w3-button w3-block myFontRed">Profile</a>
            </div>
            <div class="w3-col s3">
                <a href="/work" class="w3-button w3-block myFontRed">Work</a>
            </div>*@
            @*<div class="w3-col s3">
                <a href="/skill" class="w3-button w3-block myFontRed">Skill</a>
            </div>*@
            @*<div class="w3-col s3">
                <a href="https://podo1017.tistory.com/" class="w3-button w3-block myFontRed">Blog</a>
            </div>*@
        </div>
        
    </div>
</div>

<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
    
