@page "/profile"
@page "/"
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/Image/profile.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <span style="color:white"><h2>Garam Baek</h2></span>
                    </div>
                </div>

                <br>

                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Server Programmer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Seoul, KOR</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>bgr1017@naver.com</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>bgr1017.kr@gmail.com</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-deep-purple w3-text-white"></i>Skills</b></p>

                    <p>C#</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-deep-purple" style="width:100%">100%</div>
                    </div>

                    <p>Node.js</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
                            <div class="w3-center w3-text-white">50%</div>
                        </div>
                    </div>

                    <p>Java</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
                            <div class="w3-center w3-text-white">50%</div>
                        </div>
                    </div>

                    <p>C/C++</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
                            <div class="w3-center w3-text-white">50%</div>
                        </div>
                    </div>

                    <p>MySql/MsSql</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                            <div class="w3-center w3-text-white">80%</div>
                        </div>
                    </div>

                    <p>etc</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                            <div class="w3-center w3-text-white">python, git, svn, ms, elk</div>
                        </div>
                    </div>

                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>

                    <p>Korean</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                    </div>

                    <p>English</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
                    </div>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">

                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Server and Web Developer / gurudol</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2020/4 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p> Yafit.cycle Server and admin site develop</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Server and Web Developer / fleximind</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2019/3 - 2020/3</h6>
                    <p>Mobile Game : IslandM Server and Web admin site develop</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Server, Client and Web Developer / NEOWIZ</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2017/11 - 2019/2</h6>
                    <p>Mobile Game : Cook2, PocketHeroesArena, mini Games</p><br>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Server and Web Developer / SN Games</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2017/1 - 2017/11</h6>
                    <p>Mobile Game : god of hischool server and Web admin site Develop</p><br>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Web Developer / Entwell </b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2015/2 - 2016/8</h6>
                    <p> Web admin site Develop</p><br>
                </div>

            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                    <p>Web Development! All I need to know in one place</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>London Business School</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
                    <p>Master Degree</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>School of Coding</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                    <p>Bachelor Degree</p><br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

@code {

}
